 h1 {
    background: rgb(255, 243, 220);
    position: fixed;
    top: 5pt;
    right: 490px;
    padding: 10px;
    text-align: center;
    color: rgb(86, 131, 2);
    font-family: Exo;
}

#intro {
    text-align: center;
    color: rgb(255, 243, 220);
    background: 

}